.canv {
    background-color: cyan;
    width: 1000px;
    height: 400px;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}